@font-face {
    font-family: Delius;
    src: url('./fonts/Delius-Regular.ttf');
}

:root {
    font-size: 15px;
    
    --primary: #add8e6;
    --secondary: #fff;
    --tertiary: #dffc;

    color: var(--secondary);
}

*{
    color: var(--secondary);
    font-family: 'Delius', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--primary);
    margin: 0;
}

/* Generic Classes */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Specific Classes */

#projectTitle{
    padding:50px;
}

#sidebar-nav {
    position: fixed;
    right: -150px;
    width: 150px;
    height: 100%;
    background-color: var(--tertiary);
    z-index: 10;

    transition: all ease-in-out 0.5s;
}

#sidebar-nav.sidebar-shown {
    right: 0px;
}

#sidebar-nav>button { /* Close button */
    margin-left:85%;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    padding: 0;

    background: none;
    border: none;
}

#sidebar-nav div button { /* Options */
    border: 2px solid black;
    color: black;
    background: none;
    /* margin: 10px 0 10px 0; */
    width:150px;
    height:30px;
}

#sidebar-nav button:hover {
    cursor:pointer;
    background-color: rgba(71, 237, 237, 0.667);
}

#sidebar-nav img:hover {
    cursor: pointer;
    background-color: rgba(71, 237, 237, 0.667);;
}

#projects-nav {
    position: fixed;
    right: -75px;
    margin-top: 70px;
    width: 75px;
    height: 90px;
    background-color: rgb(177, 232, 232);
    z-index: 10;

    /* transition: all ease-in-out 0.5s; */
}

#projects-nav.sidebar-shown {
    right: 0px;
}

#projects-nav>button { /* Close button */
    margin-left:85%;
    margin-top: 10px;
    width: 75px;
    height: 30px;
    padding: 0;

    background: none;
    border: none;
}

#projects-nav div button { /* Options */
    border: 2px solid black;
    color: black;
    background: none;
    /* margin: 10px 0 10px 0; */
    width:75px;
    height:30px;
}

#projects-nav button:hover {
    cursor:pointer;
    background-color: rgba(71, 237, 237, 0.667);
}

#projects-nav img:hover {
    padding: 0px;
    margin-left: 0px;
    cursor: pointer;
    background-color: red;
}

#projects-nav.projects-shown {
    right: 140px;
}

.page-num {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 5;
}

/* .page-nav{
    width: auto;
} */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: auto;
    padding: 5px 10px 5px 10px;

}

#navbar .left-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* color:plum; */
}

#navbar .left-nav-container img {
    width: 100%;
}

#navbar .hamburger-button {
   background: none;
   border: none;
}

#navbar .hamburger-button:hover {
    cursor:pointer
}

.arrow-button {
    background: none;
    border: none;
}

.arrow-button:hover {
    cursor: pointer;
 }

 .arrow-button:hover img {
    background-color:aquamarine
}

.page {
    margin: 0 50px 0 50px;
}

.page .project-title {
    /* width:%; */
    font-size: 24px;
}

.page .description {
    width:100%;
}

/* IMPORTANT */

.hidden {
    display: none;
}

/* #navbar .hamburger-button img {

 } */

 /* ANIMATIONS */